
.main {
  position: relative;
  padding-top: 30px;
  text-align: center;
}

.search-container {
  opacity: 50%;
}

.button {
  padding: 5px 10px;
  max-width: 140px;
}
.response_container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-avatar__img {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 10px;
}

.input {
  width: 300px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 10px;
}

.text {
  text-align: center;
  resize: none;
}

.hidden {
  display: none;
}

.red {
  color: red;
}

.data {
  width: 120px;
  margin-bottom: 10px;
}

.label{
  margin-bottom: 5px;
  color: green;
}